.arrows img {
    margin-left: 20%;
}

#profile {
    margin-left: 90%;
    margin-top: 0;
}

body {
    font-family: 'DM Sans';
}

.firstboxes {
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
}

h1 {
    margin-left: 20%;
}

#first-text {
    margin-top: 5%;
}

h2 {
    margin-left: 20%;
    margin-bottom: 30px;
}

.secboxes {
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.Shows {
    margin-top: 50px;
}

body {
    background-color: rgb(40,40,43);
    color: white;
}

.logo {
    margin-top: -35%;
}

.side-bar {
    padding: 20px;
}

.Home {
    margin-top: 30px;
    margin-bottom: 10px;
}

.Search {
    margin-bottom: 10px;
}

.YourLibrary {
    margin-bottom: 10px;
}

.CreatePlaylist {
    margin-top: 40px;
    margin-bottom: 10px;
}

.LikedSongs {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

.list {
    margin-top: 50px;
    margin-left: -2%;
}